@use "destyle.css";

$font-family: "Noto Sans CJK JP", "Hiragino Sans", "Droid Sans", sans-serif;

body {
    background-color: #fff;
    color: #000;
    font: 16px/16px $font-family;
    padding: 8px;
}
